:root {
    --light: #f3f6f9;
    --primary: #6b88ee;
    --primary-hover: #1768d2;
    --black: #0f0f0f;
    --white: #fff;
    --success: #c3e6cb;
}

/* Color */
.bg-light {
    background-color: var(--light) !important;
}

.text-primary {
    color: var(--primary) !important;
}

@media (min-width:768px) {
    .bg-md-light {
        background-color: var(--light) !important;
    }
}

/* Width */
.w-40px {
    width: 40px;
}

.w-15 {
    width: 15%;
}

/* Margin */
.mt-7 {
    margin-top: 4rem;
}

/* Form */
.form-control:focus {
    box-shadow: 0 0 0 .2rem var(--primary);
    border-color: var(--primary);
}

.form-select:focus {
    box-shadow: 0 0 0 .2rem var(--primary);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Table */
.table> :not(caption)>*>* {
    background-color: var(--light);
}

/* Tooltip */
.tooltip-icon:hover ~ .tooltip-text {
    visibility: visible !important;
}

/* Chart */
#lineChart {
    width: 100%;
}

/* Button */
.btn-close:focus.success {
    box-shadow: 0 0 0 .2rem var(--success);
}

.btn-primary {
    color: var(--black);
    background-color: var(--primary);
    border-color: var(--primary)
}

.btn-primary:hover {
    color: var(--black);
    background-color: var(--primary-hover);
    border-color: var(--primary);
}

.btn-primary.focus,
.btn-primary:focus {
    color: var(--black);
    background-color: var(--primary);
    border-color: var(--primary-hover);
    box-shadow: 0 0 0 .2rem var(--primary-hover)
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: var(--black);
    background-color: var(--primary);
    border-color: var(--primary-hover);
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem var(--primary-hover);
}

/* Sidebar & Navbar */
.side-item.active {
    background-color: var(--white);
    border-left: 4px solid var(--primary) !important;
    opacity: 100% !important;
    border-radius: 0 10px 10px 0;
}

.nav-item {
    transition: 300ms;
    transition-timing-function: cubic-bezier(0.44, 0.23, 0.24, 0.94);
}

.side-item {
    border-left: 4px solid var(--light);
    opacity: 70%;
}

.side-item:hover {
    background-color: var(--white);
    border-left: 4px solid var(--primary);
    border-radius: 0 10px 10px 0;
    opacity: 100%;
}

i {
    transition: 300ms;
}

a:hover>i.fa-caret-right {
    margin-left: 1rem !important;
}

.sidebar-toggler {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    border-radius: 40px;
}

.dropdown-item:active {
    background-color: var(--primary);
}

/* Pagination */
.pagination {
    margin-top: 20px;
}

.page-link.active,
.active>.page-link {
    background-color: var(--primary);
    border-color: var(--primary-hover);
}

.page-item:active>.page-link,
.page-link:focus {
    background-color: var(--white);
    box-shadow: 0 0 0 .2rem var(--primary) !important;
    color: var(--black);
}

a.page-link {
    color: var(--black);
}

.page-link:hover {
    color: var(--primary-hover);
}

.page-link:focus {
    color: var(--black);
}

/* Layout */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: var(--light);
    transition: 0.5s;
    z-index: 999;
}

.content {
    margin-left: 250px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

/* card peminjaman */
.list-group-item {
    background-color: var(--light);
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .logo {
        display: none;
    }
}
